#heading-text{
    font-size: 4em;
    text-align: left;
    margin-bottom: 20px;
    margin:0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex-box;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
/* .container{
    /* background-color: #ced5dc; */
 
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    padding: 30px;
    
}


.card {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 300px; /* Fixed height for all cards */
    text-align: center;
}

.donation-card h2 {
    color: #023047;
    margin-bottom: 10px;
}

.donation-card p {
    color: #555555;
    font-size: 14px;
    margin: 8px 0;
    padding: 10px;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    margin: 15px 0;
    padding: 0px;

}

.progress-bar-container-syria{
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    margin: 25px 0;
    padding: 0px;
}

.progress-bar-container-sudan{
        display: flex;
        align-items: center;
        background-color: #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
        height: 20px;
        margin: 25px 0;
        padding: 0px;
    }


.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #4caf50; /* Green progress bar */
    
}

.donate-button {
    background-color: #ff4c4c; /* Bright red button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin:5px 0px 10px 0px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.donate-button-sudan{
    background-color: #ff4c4c; /* Bright red button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin:5px 0px 10px 0px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;

}

.donate-button:hover {
    background-color: #d43535; /* Darker red on hover */
}
.donate-button-sudan:hover {
    background-color: #d43535; /* Darker red on hover */
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar{
    padding: 0;
    margin: 0;
    background-color: #2f9fd6;
    height: 35vh;

}
.navbar2{
    padding: 0;
    margin: 0;
    background-color: #1a1a2e;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 1.2em;
      
}
.navbar-links{
    scroll-behavior: smooth;scroll-behavior: smooth;
  }
  .logo-title{
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;
  }
  
  .navbar-links{
      display: flex;
      gap: 20px;
      margin-left: auto;
      margin-right: 20px;
  }
  .navbar .title {
      font-size: 1.5em;
      font-weight: bolder;
  }
  .sub-title{
      margin-left: 0px;
      font-weight: 100;
  }
  .navbar a {
      color: white;
      text-decoration: none;
      margin-left: 20px;
  }
  .navbar a:hover {
      text-decoration: underline;
  }
