body{
    padding: 0;
    margin: 50px;
    background-color: #E8F4FA;
    /* background-blend-mode: color-dodge; */
    background-image: linear-gradient(to right, #E8F4FA, #e8f3fb);
    background-size: cover;
   color:rgb(102, 57, 57);
    font-family: Arial, sans-serif;
}
form{
    
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-weight: bold;
    gap: 1rem;
    margin: 0 auto;
    max-width: 600px;
}

#donation{
    display: grid;
    margin-left: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 0px solid #ccc;
    font-size: 1rem;
    font-family: Arial, sans-serif;


}
input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 0px solid #ccc;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;  
    background-color: white;
    width:20vw;
   
}

textarea{
    padding: 0.5rem;
    border-radius: 15px;
    border: 0px solid #ccc;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold; 
    background-color: white;
    width : 20vw;
    height: 10vh; 
}

select{
    padding: 0.5rem;
    border-radius: 15px;
    border: 0px solid #ccc;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;  
    background-color:white;
    width : 20vw;
}
button{
    padding: 0.5rem;
    border-radius: 15px;
    border: 0px solid #ccc;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;  
    background-color:#6b7b7b;
    color: white;
    cursor: pointer;
    width :20vw;
}

#donation-form{
    /* background-color: #E8F4FA; */
    
    /* background-image: linear-gradient(to left, rgb(216, 159, 200), rgb(129, 133, 183)); */
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem;
    background-color: #d0e8f4;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
}
